h1= title
- if (messages.notice.length)
  ul#messages-notice
    for message in messages.notice
      li.message-notice #{message}
- if (messages.warning.length)
  ul#messages-warning
    for message in messages.warning
      li.message-warning #{message}
-if (messages.error.length)
  ul#messages-error
    for message in messages.error
      li.message-error #{message}

form(id='register-form', method='post')
  #mail-wrapper
    label E-mail:
      span.form-required *
      input(id='edit-mail', name='mail')
  #domain-wrapper
    label Domain:
      span.form-required *
      input(id='edit-domain', name='domain')
  #global-wrapper
    label Global:
      input(type='checkbox', id='edit-global', name='global')
  #submit-wrapper
    input(type='submit', value='Register', id='edit-submit', name='submit')

#footer
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
  script(src='/javascripts/jquery-validation/jquery.validate.js')
  script(src='/javascripts/validate.js')
